* {
   font-family: 'Roboto Slab';
}

.m-6 {
   margin: 80px;
}

.mx-6 {
   margin: 0px 80px;
}

.bg-champagne {
   background-color: #FBF3E9;
}

.bg-alabaster {
   background-color: #FDF9F4;
}

.title-lg {
   font-size: 55px;
}

.fs-header {
   font-size: 17px;
}

.w-30 {
   width: 30%;
}

.w-85 {
   width: 85%;
}

.nav-pills a:hover {
   background-color: #343A40;
}

.nav-pills .active {
   color: #1A1A1A !important;
   background-color: #F7E8D3 !important;
}

.fs-7 {
   font-size: 15px;
}

.cursor-pointer {
   cursor: pointer;
}